/*Mobile view first*/
@media only screen and (max-width: 320px){

    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #a {
        width: 480px;
        height: 75px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #b {
        width: 480px;
        height: 150px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #c {
        width: 480px;
        height: 125px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #d {
        width: 480px;
        height: 125px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #e {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #f {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #g {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #h {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #i {
        width: 480px;
        height: 80px;
        border: solid black 1px;
        background-color: grey;
    }
    
    .eh {
      display: flex;
      
    
    }
}


/*Tablet view second*/
/* @media only screen and (max-width: 768px){
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #a {
        width: 480px;
        height: 75px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #b {
        width: 480px;
        height: 150px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #c {
        width: 480px;
        height: 125px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #d {
        width: 480px;
        height: 125px;
        border: solid black 1px;
        background-color: grey;
    }
    
    #e {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #f {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #g {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #h {
        width: 240px;
        height: 250px;
        border: solid black 1px;
        background-color: grey;
        display: inline-block;
    }
    
    #i {
        width: 480px;
        height: 80px;
        border: solid black 1px;
        background-color: grey;
    }
    
    .eh {
      display: flex;
      
    
    }
} */

/*Desktop & Beyond*/
@media only screen and (min-width: 1024px){
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #a {
        width: 960px;
        height: 100px;
        border: solid black 1px;
        background-color:green;
        margin: auto;
    }
    
    #b {
        width: 200px;
        height: 600px;
        border: solid black 1px;
        background-color:green;
    }
    
    #c {
        width: 380px;
        height: 200px;
        border: solid black 1px;
        background-color:green;
        order: 2;
    }
    
    #d {
        width: 380px;
        height: 200px;
        border: solid black 1px;
        background-color:green;
    }
    
    #e {
        width: 190px;
        height: 250px;
        border: solid black 1px;
        background-color:green;
        display: inline-block;
    }
    
    #f {
        width: 190px;
        height: 250px;
        border: solid black 1px;
        background-color:green;
        display: inline-block;
    }
    
    #g {
        width: 190px;
        height: 250px;
        border: solid black 1px;
        background-color:green;
        display: inline-block;
    }
    
    #h {
        width: 190px;
        height: 250px;
        border: solid black 1px;
        background-color:green;
        display: inline-block;
    }
    
    #i {
        width: 760px;
        height: 150px;
        border: solid black 1px;
        background-color:green;
    }
    
    .eh {
      display: flex;
      
    
    }
}

