*{
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
}
#a{
    width: 100vw;
    height: 75px;
    margin: 0 auto;
    background-color: red;
    outline-color: black;
}
#b{
    width: 100vw;
    height: 150px;
    margin: 0 auto;
    background-color: orange;
    outline-color: black;
}
#c{
    width: 100vw;
    height: 125px;
    margin: 0 auto;
    background-color: yellow;
    outline-color: black;
}
#d{
    width: 100vw;
    height: 125px;
    margin: 0 auto;
    background-color: green;
    outline-color: black;
}
#container2{
    display:flex;
}

#e{
    width: 50vw;
    height: 250px;
    background-color: blue;
    outline-color: black;
}
#f{
    width: 50vw;
    height: 250px;
    background-color: purple;
    outline-color: black;
}

#container3{
    display:flex;
    justify-content: center;
}
#g{
    width: 50vw;
    height: 250px;
    background-color: red;
    outline-color: black;
}
#h{
    width: 50vw;
    height: 250px;
    background-color: orange;
    outline-color: black;
}
#i{
    clear: both;
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    background-color: yellow;
    outline-color: black;
}

@media only screen and (min-width : 768px){

    #bigo{
        display: flex;
        position: relative;
        left:20%; 
    }

    #container1{
        position: relative;
        left:20%; 
        display:flex;
        width: 80%;
    }
    
    #a{
        width: 100vw;
        height: 100px;
    }

    #b{
        position: absolute;
        width: 20%;
        height: 600px;
    }
  
    #c{
        margin: 0;
        padding: 0;
        width: 40vw;
        height: 200px;
    }

    #d{
        width: 40vw;
        height: 200px;
    }

    #e{
        width: 20vw;
        height: 250px;
    }

    #f{
        width: 20vw;
        height: 250px;
    }

    #g{
        width: 20vw;
        height: 250px;
    }

    #h{
        width: 20vw;
        height: 250px;
    }

    #i{
        clear: none;
        width: 100vw;
        height: 150px;
    }
}

html{
    height: 100%;
}